
<br>
<br>
<br>
<div class="feedback-form-conatainer">
    <div class="contact-container">
        <div class="share-container">
            At Raman Labs, we're dedicated to resolving your queries and providing exceptional service. Reach out to us at ramanlabs@gmail.com or submit the feedback form for any inquiries. We're here to assist you!
        </div>
        <app-animate [textToAnimate]="'Share with us.'" [class]="'custom-edit'"> </app-animate>
    </div>
    <div class="feed-box">
        <div class="custom-input-container">
            <input type="text" class="custom-input bottom-margin" [(ngModel)] = "name" placeholder="Enter Name"> <!-- ignore vs extension error -->
           </div>
           <div class="custom-input-container">
            <input type="text" class="custom-input bottom-margin" [(ngModel)] = "email" placeholder="Enter Email"> <!-- ignore vs extension error -->
           </div>
           <div class="custom-input-container">
            <input type="text" class="custom-input bottom-margin" [(ngModel)] = "description" placeholder="Description"> <!-- ignore vs extension error -->
           </div>
        <button (click)="onSubmit()" class="btn-white-2 bottom-margin" >Submit</button>
    </div>


</div>