

<div class="mid-text">Meet the developers...</div>
<!-- <app-animate [textToAnimate]="'Meet the devs...'" customClass="'mid-text'"></app-animate> -->
<div class="contact-container">
<div class="contact-card">
        <img src="../../assets/images/pic-cropped.png" alt="Saurav K Jha">
        <div class="contact-details">
            <h2>Saurav Kumar Jha</h2>
            <div class="social-links tab">
                <a href="https://www.facebook.com/yourprofile1" target="_blank">Github</a>
                <a href="https://twitter.com/yourprofile1" target="_blank">LinkedIn</a>
                <a href="https://twitter.com/yourprofile1" target="_blank">Twitter</a>
                <a href="https://twitter.com/yourprofile1" target="_blank">Reddit</a>   
                <a href="https://twitter.com/yourprofile1" target="_blank">Discord</a>   
            </div>
        </div>
    </div>

    <div class="contact-card">
        <img src="../../assets/images/pic2.jpeg" alt="Akash Choudhary">
        <div class="contact-details">
            <h2>Akash Choudhary</h2>
            <div class="social-links">
                <a href="https://www.facebook.com/yourprofile1" target="_blank">Github</a>
                <a href="https://twitter.com/yourprofile1" target="_blank">LinkedIn</a>
                <a href="https://twitter.com/yourprofile1" target="_blank">Twitter</a>
                <a href="https://twitter.com/yourprofile1" target="_blank">Reddit</a>   
                <a href="https://twitter.com/yourprofile1" target="_blank">Discord</a> 
                <!-- Add more social links as needed -->
            </div>
        </div>
    </div>

</div>