<div class="header">
  <span class="title-container" (click)="showHome()"><a href="#">FlexiTranslator</a></span>
  
  <!-- <div class="hamburger-icon">&#9776;</div> -->


  <ul class="nav-items">
    <span class="item" (click)="showHOwTo()"><li><a href="#">HOW TO USE OUR SERVICE</a></li></span>
    <span class="item" (click)="showFaq()"><li><a href="#">FAQs</a></li></span>
    <span class="item" (click)="showFeedBack()"><li><a href="#">FEEDBACK</a></li></span>
    <span class="item" (click)="showContact()"><li><a href="#">CONTACT US</a></li></span>  
  </ul>
</div>



<div *ngIf="home" class="main-container">
  <div class="first-two">
  <span class="container-for-text">
    <span class="text-container-one">Want to translate</span>
    <span class="text-container-two">free of cost|</span>
  </span>

  <span class="form-container">
    <span class="tab">Try Our Service</span>
    <div class="custom-input-container">
      <input type="text" class="custom-input" placeholder="Type something...">
    </div>

    <div class="btn-translate">
      <span class="width"><button class="btn-white-2">English</button></span>
      <span class="width container-to">TO</span>
      <span class="width"><button class="btn-white-2">Japanese</button></span>

    </div>
    <div>
      <button class="btn-white-2">Translate</button>
    </div>
  </span>
  </div>

  
  <div class="stats-container">
    <div class="stats-box">
      <div class="stats-content" >
        <div class="stats-number">89+</div>
        <div class="stats-label">Visiters</div>
      </div>
    </div>
    <div class="stats-box">
      <div class="stats-content">
        <div class="stats-number">10+</div>
        <div class="stats-label">Api hits</div>
      </div>
    </div>
    <div class="stats-box">
      <div class="stats-content">
        <div class="stats-number">90+</div>
        <div class="stats-label">Love this</div>
      </div>
    </div>
    <div class="stats-box">
      <div class="stats-content">
        <div class="stats-number">5+</div>
        <div class="stats-label">Contributions</div>
      </div>
    </div>
  </div>
</div>