:host {
    display: block;
    background-image: url('../assets/images/BG-IMAGE-1376x786-22.png');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: #fff;
    padding: 20px;
  }

.title-container{
    display: flex;
    font-size:2.5rem;
    font-family: "Tahoma";
    font-weight: bold;
    color: white;

}

.header{
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3); 
    border-radius: 15px; */
}

/* to make undo degfault beahviour of the li items */

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
  }

  
  a {
    text-decoration: none;
    color: #ffffff; 
  }
  
  .nav-items{
    font-family: "Tahoma";
    display: flex;
    font-weight: bold;
  }
  .item{
    padding: 10px 20px;
  }


  /* Css for cutom elements */
  .tab{
    padding: 2.5% 0%;
    width: 100%;
}
.width{
    width: 33%;
    justify-content: center;
}


  
.first-two{
    display: flex;
    padding: 5%;
  }
  
  .form-container{
    /* padding: 8% 0%; */
    /* min-width: 350px; */
    width: 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
  }
  .container-for-text{
    /* padding : 10% 3%;   */
    font-family: "Tahoma";
    width: 60%;
    align-items: center;
  }
  
  .text-container-one{
    padding-bottom: 30px;
    display: block;
    font-size: 5rem;
  }

  
  
  /* css for the form input  */
  .custom-input-container {
    width: 100%;
  }
  

  
  
  .btn-translate{
    padding: 5% 0%;
    display: flex;
    justify-content: space-between;
  }
  
  .container-to{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  
  /* stats css */
  .stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .stats-box {
    text-align: center;
    background-color: #000; /* Black background color */
    border: 2px solid #fff; /* White border */
    padding: 20px; /* Adjust padding as needed */
    
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3); 
  
    
  }
  
  .stats-content {
    color: #fff; /* White text color */
  }
  
  .stats-label {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .stats-number {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .result-container{
      width: 100%;
      margin-top: 8%;
      padding: 5%;
      border: 3.5px solid #fff;
      border-radius: 5px;
      box-sizing: border-box; /* Ensure padding is included in the total width */
      font-size: 16px;
      color: #ffffff; /* Text color inside the input */
      background-color: #000000;
    
  }

  .footer{
    display: flex;
    justify-content: center;
    
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3); 
  }
  
  